{require_min_otp_vsn, "18"}.

{erl_opts, [inline,
            % warn_missing_spec,
            warnings_as_errors,
            debug_info]}.

{edoc_opts, [{preprocess, true}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
